<div>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">JobFinder</a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="!isNavCollapsed">
      <div>
        <ul class="nav navbar-nav navbar-right" ng-hide="$ctrl.isLoggedIn">
          <li>
            <a href="/registration">Register</a>
          </li>
          <li>
            <a href="/login">Login</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-show="$ctrl.isLoggedIn">
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" ng-model="$ctrl.searchTerm">
            </div>
            <button type="submit" class="btn btn-default" ui-sref="search({search: $ctrl.searchTerm})">Submit</button>
            <button ng-show="$ctrl.userDetails.type === 1" type="submit" class="btn btn-default" ui-sref="recommended">Recommended Jobs</button>
          </form>
          <li>
            <a ng-click="$ctrl.logOut()">Log Out</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12">
        <ul class="nav nav-tabs nav-justified" ng-show="$ctrl.isLoggedIn">
          <li>
            <a href="/profile">Profile</a>
          </li>
          <li>
            <a href="/matching">Live Match</a>
          </li>
          <li>
            <a href="/search">Search</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>