<div class="col-xs-12 well">
    <div class="col-xs-12" ng-if="$ctrl.userDetails.type === 1">
        <div class="btn-lg"></div>
        <h4>General Information</h4>
        <p>Name: {{ $ctrl.userDetails.data.first_name }} {{ $ctrl.userDetails.data.last_name }}</p>
        <p>Age: {{ $ctrl.calculateAge($ctrl.userDetails.data.date_of_birth) }}</p>
        <p>Email: {{ $ctrl.userDetails.data.email }}</p>
        <p>Contact Number: {{ $ctrl.userDetails.data.number }}</p>
        <p>Education: {{ $ctrl.userDetails.data.education }}</p>
        <p>Highest Education Attained: {{ $ctrl.returnEducationAttained($ctrl.userDetails.data.education_attained) }}
        </p>
        <div class="col-md-12">
            <label>Additional Skills</label>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="skill in $ctrl.userDetails.data.extra_skills track by $index">
                    {{ skill }}
                </li>
                <li class="list-group-item" ng-show="$ctrl.userDetails.data.extra_skills.length === 0 || !$ctrl.userDetails.data.extra_skills">
                    No Additional Skills Listed
                </li>
            </ul>
        </div>
        <h4>Skills and Experience</h4>
        <ul class="list-group">
            <li class="list-group-item col-xs-12" ng-repeat="skill in $ctrl.userDetails.requirements">
                <span class="col-xs-4">
                    {{ skill.skill }}
                </span>
                <span class="col-xs-5 col-xs-offset-3 text-right">
                    {{ skill.years_exp > 0 ? skill.years_exp + ' year/s of experience' : 'Less than 1 year experience' }}
                </span>
            </li>

            <li class="list-group-item" ng-hide="$ctrl.userDetails.requirements.length > 0">
                No skills listed yet. Update your profile to add skills
            </li>
        </ul>
        <button class="btn btn-default" ui-sref="update">Update Profile</button>
    </div>
    <div class="col-xs-12" ng-if="$ctrl.userDetails.type === 2">
        <div class="btn-lg"></div>
        <h4>General Information</h4>
        <p>Business Name: {{ $ctrl.userDetails.data.business_name }} {{ $ctrl.userDetails.data.last_name }}</p>
        <p>Description: {{ $ctrl.userDetails.data.description }}</p>
        <div>
            <label>
                Map Location
            </label>
            <p>
                {{ marker.coords.latitude }}, {{ marker.coords.longitude }}
            </p>
            <ui-gmap-google-map ng-if="$ctrl.userDetails.type === 2" center="map.center" zoom="map.zoom" draggable="true" options="options">
                <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
        <h4>Job Postings</h4>
        <ul class="list-group">
            <li class="list-group-item col-xs-12" ng-repeat="job in $ctrl.userDetails.requirements">
                <h4 class="col-xs-12">
                    {{ job.job_title }}
                </h4>
                <span class="col-xs-12">
                    {{ job.description | limitTo:100 }}{{ job.description.length > 50 ? '...' : '' }}
                </span>
                <div class="col-xs-12">
                    <label>Requirements</label>

                    <p ng-repeat="experience in job.jobRequirements">
                        <span>
                            {{ experience.years_exp > 0 ? experience.years_exp + " years " : "Less than 1 year" }} experience in {{ experience.requirement
                            }}
                        </span>
                    </p>
                </div>
                <button class="btn btn-warn" ui-sref="job({jobId: job.id})">View Job</button>
            </li>

            <li class="list-group-item" ng-show="!$ctrl.userDetails.requirements">
                No skills listed yet. Update your profile to add skills
            </li>
        </ul>
        <button class="btn btn-default" ui-sref="update">Update Profile</button>
    </div>
</div>