<div class="col-xs-12">
    <div class="well" ng-show="$ctrl.recommendedResults.length < 1">
        Sorry we couldn't find any jobs to recommend..
    </div>
    <div ng-show="$ctrl.recommendedResults.length > 0">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">
                <span class="glyphicon glyphicon-search">
                </span>
            </span>
            <input type="text" ng-model="$ctrl.searchFilter" class="form-control" placeholder="Search">
        </div>
        <div class="well" ng-repeat="job in $ctrl.recommendedResults | filter: $ctrl.searchFilter | limitTo: $ctrl.maxResults : $ctrl.maxResults * ($ctrl.currentPage - 1)">
            <h3>{{ job.job_title }}</h3>
            <h4>{{ job.business_name }}</h4>
            <p>
                {{ job.description | limitTo: 200 }}{{ job.description.length > 200 ? '...' : '' }}
            </p>
            <p>
                Required skills:
                <span ng-repeat="skill in job.jobRequirements">
                    Atleast {{ skill.years_exp > 1 ? skill.years_exp : 1}} year{{ skill.years_exp > 1 ? 's' : ''}} experience in {{ skill.requirement
                    }},
                </span>
            </p>
            <button class="btn btn-warning" ui-sref="job({jobId: job.id})">View Job</button>
            <button class="btn btn-warning" ui-sref="user({userId: job.business_id})">View Business</button>
        </div>
        <ul uib-pagination total-items="$ctrl.recommendedResults.length" ng-model="$ctrl.currentPage"></ul>
    </div>
</div>