$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  background-color: lightgrey;
}

textarea {
  resize: none;
}

.angular-google-map-container { 
  height: 400px; 
}

input[type="password"] {
  color: red;
}