<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <span class="glyphicon glyphicon-search">
                    </span> 
                </span>
                <input type="text" ng-model="$ctrl.searchFilter" class="form-control" placeholder="Search">
            </div>
        </div>
        <div class="col-xs-12 col-md-12">
            <div ng-repeat="job in filtered = ($ctrl.searchResults | filter: $ctrl.searchFilter)">
                <div class="thumbnail">
                    <img src="http://via.placeholder.com/400x200" alt="business image">
                    <div class="caption">
                        <h2>{{ job.job_title }}</h2>
                        <h3>{{ job.business_name }}</h3>
                        <h4>{{ job.address }}, {{ job.state }}, {{ job.city }}</h4>
                        <p>{{ job.description | limitTo:400 }}{{ job.description.length > 400 ? '...' : '' }} </p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Learn More</a>
                            <a href="#" class="btn btn-default" role="button">Send Resume</a>
                        </p>
                    </div>
                </div>
            </div>
            <div ng-show="filtered.length === 0">
                    <div class="thumbnail">
                        <div class="caption">
                            <h1>No Results Found</h1>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>